body{
    background-image: url("https://t3.ftcdn.net/jpg/02/54/20/88/360_F_254208823_NXcV5RCcWJ1vgSuWjhPqIpPmqXIyBrDO.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1600px;   
}
#logo{
    border-radius: 20%;
    margin-top: 0px;
    max-width: 200px;
    margin-left: 10px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: right;
    margin-left: 50px;
}
.header{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1100%;
}
.topnav{
    font-size: 150%;
    text-align: right;
    margin-right: 10px;
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}
.slogan{
    font-size: 60px;
    font-family: Inspiration-Regular;
}
#about{
    margin-top: 200px;
    font-size: 30px;
}
.about1{
    
}